* {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    font-size: 1.05rem;
}

h1 {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 2rem;
}

h2 {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 1.6rem;
}

h3 {
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 1.6rem;
}

h4 {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #858585;
}

h5 {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #858585;
}

h6 {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.header {
    margin-top: 50px;
}

/* TABLE STYLING */
/* checkbox */
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #404040;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle !important;
}

.checkbox-round:checked {
    background-color: #404040;
}

/* skill tags styling */
.skill {
    display: inline-flex;
    justify-content: center;
    align-content: space-between;
    font-size: 0.8rem;
    border-radius: 12px;
    font-weight: bold;
    padding: 0 8px;
    margin: 0px 2px 2px 2px;
}

.skillsPadding {
    padding: 2px 0 4px 12.6px !important;
    max-width: 230px;
}

/* table head styling */
.table thead th {
    font-weight: 800;
}

.table td {
    vertical-align: middle !important;
}

/* Modal styling */
.modalRef {
    border: none;
    padding: 0;
    background: none;
}

.modalLink {
    color: inherit;
    text-decoration: inherit;
}

.modalLink:hover {
    color: inherit;
    text-decoration: inherit;
}

.modalContent {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modalBody {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modalBodyInline {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-flex;
    padding: 1rem;
}

.modalHead {
    display: inline-flex;
    padding: 1rem;
    align-items: flex-end;
}

.favoriteIcon {
    float: right;
    display: inline-flex;
    width: 20px;
}